.tabBlock {
    width: 1130px;
}

.tabContainer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.content {
    margin-top: 22px;
    border: 2px solid #e2eaf3;
    border-radius: 15px;
    display: none;
    padding: 20px;
}

.activeContent {
    display: block;
}

.item {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.activeTab {
    position: relative;
}

.activeTab:before {
    content: '';
    position: absolute;
    left: 27px;
    bottom: -25px;
    width: 29px;
    height: 24px;
    background-image: url("./images/triangle.png");
}

.imageContainer {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #c5d5e6;
    margin-right: 20px;
}

.image {
    width: 40px;
    height: 40px;
}

.activeTab .imageContainer {
    border: none;
    background-color: #9c5d9a;
}

.item .hand {
    background-image: url("./images/handNormal.svg");

}

.activeTab .hand {
    background-image: url("./images/handActive.svg");
}

.item .wallet {
    background-image: url("./images/walletNormal.svg");

}

.activeTab .wallet {
    background-image: url("./images/walletActive.svg");
}

.item .clothes {
    background-image: url("./images/clothesNormal.svg");

}

.activeTab .clothes {
    background-image: url("./images/clothesActive.svg");
}

.item .heart {
    background-image: url("./images/heartNormal.svg");

}

.activeTab .heart {
    background-image: url("./images/heartActive.svg");
}
