.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.method {
    cursor: pointer;
    width: 180px;
    height: 84px;
    background-color: #c5d5e6;
    padding: 12px;
    border-radius: 10px;
    color: white;
}

.imgGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.active {
    background-color: #9c5d9a;
}