@media (min-width: 1130px) {
    .container {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1130px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

.container p {
    margin-top: 0;
}